authorized_keys_file: './storage/home/.ssh/authorized_keys'
storage_path: './storage'
default_repo_quota: '100000000000'
default_user_quota: '500000000000'
username: 'borg'
borg_executable: 'borg'
admin_contact: 'borg <borg@example.net>'
server_name: 'borgcube'
notification_mail: 'borgcube@example.net'
notification_old_backups_days_default: 2
